# EOAT Atlas development database. Copy to a non-versioned environment source.
EOAT_DB_HOST=127.0.0.1
EOAT_DB_PORT=3306
EOAT_DB_NAME=eoat_atlas_dev
EOAT_DB_USER=eoat_atlas_app
EOAT_DB_PASSWORD=replace_me
EOAT_DB_MIGRATION_USER=eoat_atlas_migrator
EOAT_DB_MIGRATION_PASSWORD=replace_me
EOAT_DB_DRIVER=pymysql
EOAT_API_ENVIRONMENT=development
EOAT_API_WRITES_ENABLED=true
EOAT_API_HOST=127.0.0.1
EOAT_API_PORT=8765
EOAT_ATLAS_DATA_BACKEND=mysql_api
EOAT_ATLAS_API_URL=http://127.0.0.1:8765
EOAT_ATLAS_ENVIRONMENT=development
EOAT_ATLAS_WRITES_ENABLED=true
EOAT_ATLAS_DEV_IDENTITY=dev.admin
